@import "./theme_variables";
$primary-color: #63AB45;
$gray-color: #f3f8f6;

/*** Global styles **/
#listing{
    .item-image{
        position: relative;
        border-radius: 10px 10px 0 0;
        img{
            display: block;
            border-radius: 10px 10px 0 0;
            width: 100%;
        }
    }
    .desc{
      padding: 1rem;
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-top: none;
      border-radius: 10px 10px;
      background: #fff;
      position: relative;
      margin-top: -105px;
      min-height: 212px;
      .title{
        min-height: 50px;
        h3{
          font-size:1.1rem;
        }
      }
      .location{
        a{
          color: $primary-color;
        }
      }
      .date{
        direction: ltr;
        text-align: right;
      }
      .price{
        text-align: right;
      }
      .link{
        border-top: 1px solid #ccc;
        margin-top: 1rem;
        padding-top: 1rem;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
}

/** Search region **/
.search-region{
  margin-left: 1rem;
}

.scrollspy-example {
  position: relative;
  overflow: auto;
}

.node-listing-single {
  .listing-top{
    .listing-top-content{
      padding: 60px 0;
      position: relative;
      background: $gray-color;
      margin-top: 0 !important;
      .top-left,
      .top-right{
        width:100%
      }
    }
  }

}
.node-listing-single .listing-content-main .listing-info-block.listing-amenties .block-content{
  margin: 0 !important;
}
.webform-submission-form .form-item label,
.views-exposed-form .form-item label{
  font-family: inherit;
}

.badge-primary{
  background: $primary-color;
}

.badge-danger{
  background: $color-red;
}
.node-listing-single .listing-content-main .block{
  border-radius: 14px;
  border:unset;
  padding: 20px;
}

#views-exposed-form-tours-block-1{
  background: #fff;
  margin-bottom: 2rem !important;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &::after {
    display: block;
    clear: both;
    content: "";
  }
  .views-exposed-form-content-inner{
    direction: rtl;
  }
  @media(max-width: 680px){
    border-radius: 0;
  }
   .form-item{
    width: 26%;
    float: right;
    margin-bottom: 0;
    position: relative;
    background: $white;
    padding: 8px 10px;
    @media(max-width: 680px){
      width: 100%;
      border-bottom: 1px solid $border-color;
      border-radius: 0!important;
    }
    legend{
      font-size: inherit;
      //margin-bottom: 0;
      .fieldset-legend{
        font-family: inherit;
      }
    }
    .fieldset-wrapper{
      display: block;
      width: 100%;
      height: auto;
    }
    &.form-item-field-tour-startdate-value-date{
      padding: 0;
      width: 100% !important;
      display: block;
      .form-date{
        border: unset;
        color: #888;
      }
    }
    &:first-child, &.form-item-title{
      border-radius: 4px 0 0 4px;

    }
    &:nth-child(4){
      border-radius: 0 4px 4px 0;
    }
    //&:not(.form-wrapper):after{
    //  content: '';
    //  position: absolute;
    //  width: 1px;
    //  height: 100%;
    //  background: rgba(0, 0, 0, 0.1);
    //  top: 0;
    //  left: 0;
    //  z-index: 1;
    //  @media(max-width: 680px){
    //    display: none;
    //  }
    //}
    input[type='text'], input[type='search'], input[type='password'], input[type='email'],input[type='date'], textarea, select {
      border: none;
    }
  }
  .chosen-container-single{
    border: none!important;
  }
  .form-actions{
    width: 18%;
    float: right;
    margin-right: 2%;
    border: none;
    margin-top: 1rem;
    @media(max-width: 680px){
      width: 100%;
      margin-top: 15px;
      margin-left: 0;
    }
    input{
      width: 100%;
      line-height: 62px;
    }
  }
}

.el-69679628{
  .bb-inner{
    padding-top: 0 !important;
    margin-top: -7rem;
    position: relative;
    z-index: 12;
  }
}
.breadcrumb-content-main{
  .content{
    display: none;
  }
}

.tour-essentials,
.tour-necesseries{
  .block-content{
    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }
  .amenity-item {
    font-size: 1.1rem;
    width: 33.3333%;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 25px;
    position: relative;
    &:nth-child(3n+1){
      clear: both;
    }
    .icon{
      font-size: 1.5rem;
      vertical-align: middle;
      display: inline-block;
      color: $primary-color
    }
    a{
      color:#82828A
    }
  }
}


.node-listing-single .listing-top .listing-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .node-listing-single .listing-top .listing-action {
    -ms-flex-wrap:wrap;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0,0,0,0.2);
    margin-top: 15px;
    padding-top: 15px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.node-listing-single .listing-top .item-action {
  position: relative;
  padding-right: 50px;
  font-weight: 700;
  line-height: 20px;
  color: var(--body-link-color);
  margin-top: 10px;
  margin-right: 35px;
  direction: ltr;
  text-align: right;
}

@media (max-width: 991px) {
  .node-listing-single .listing-top .item-action {
    margin-left:0;
    margin-right: 30px;
  }
}

.node-listing-single .listing-top .item-action span.fas {
  //font-weight: 400;
  color: var(--gowilds-theme-color);
  font-size: 36px;
  position: absolute;
  top: 5px;
  right: 0;
}

.node-listing-single .listing-top .item-action .label {
  font-size: 15px;
  font-weight: 500;
  color: var(--body-color) !important;
  display: block;
  margin-bottom: 5px;
}

.node-listing-single .listing-top .item-action.phone span.fas {
  font-size: 32px;
  top: 5px;
}

.node-listing-single .listing-top .item-action.category span.fas {
  font-size: 32px;
  top: 5px;
}

.node-listing-single .listing-top .listing-category a {
  font-size: 16px;
  font-weight: 700;
}

.node-listing-single .listing-top .listing-category a:hover {
  color: var(--gowilds-theme-color);
}
.node-listing-single .listing-content-main .block .block-title:after,
.node-listing-single .listing-content-main .lt-block-second .title:after,
#node-single-comment h2:before{
  left:unset !important;
  right: 0;
}

.node-listing-single .listing-content-main .lt-block-second.business-info .item-info {
  position: relative;
  padding-right: 50px;
  color: var(--body-link-color);
  font-weight: 700;
  margin-top: 20px;
  span {
    font-size: 15px;
    font-weight: 500;
    color: var(--body-color);
    width: 100%;
    display: block;
  }
  i.fas {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 32px;
    color: $primary-color;
  }
}

.block-views-blockrelated-tours-block-1{
  .block-title{
    margin-top: 30px;
    margin-bottom: 1em;
    font-size: 22px;
    position: relative;
    padding-bottom: 8px;
    &::before{
      content: "";
      position: absolute;
      width: 45px;
      height: 2px;
      background: var(--ziston-theme-color);
      border-radius: 5px;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .owl-item{
    margin-bottom: 1rem;
    .desc{
      direction: rtl;
      .date{
        direction: rtl !important;
      }
    }
  }
}
.webform-submission-booking-form{
  .form-item-submitted-tour{
    display: none;
  }
  .form-number{
    text-align: center  ;
  }
}

.gsc-heading .sub-title{
  letter-spacing: 0 !important;
}

.owl-item{
  .item-image{
    img{
      text-align: center;
    }
  }
}

.gsc-icon-box-carousel.style-1 .icon-box-item-content .icon-box-item-inner .title{
  font-size: 14px;
}

.event-block {
  &.event-expired{
    img{
      filter: grayscale(1);
    }
    .date{
      background: #3f403e !important;
    }
  }
  .event-content {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.036);
    .event-image {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
    }
    .event-info {
      bottom: 0;
      left: 30px;
      right: 0;
      z-index: 11;
      padding: 35px 20px 0;
      position: relative;
      .date {
        position: absolute;
        color: #fff;
        font-size: 12px;
        font-weight: 800;
        background: $primary-color;
        top: -20px;
        right: 30px;
        z-index: 1;
        padding: 10px 15px;
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 1;
        letter-spacing: 1px;
        -webkit-transform: rotate(-6.2deg);
        transform: rotate(-6.2deg);
      }
      .event-meta {
        font-size: 14px;
        font-weight: 500;
      }
      .title {
        font-size: 20px;
        line-height: 28px;
        margin: 0;
      }
      .event-address {
        border-top: 1px solid #E2DFEB;
        padding: 15px 0 0;
        margin-top: 20px;
        font-size: 14px;
        i {
          color: $primary-color;
          margin-left: 5px;
        }
      }
    }
  }

}

.widget.gsc-block-drupal.text-light div{
  color: inherit !important;
}

.listing-category a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  font-family: inherit !important;
}
