/*** Global styles **/
#listing .item-image {
  position: relative;
  border-radius: 10px 10px 0 0;
}
#listing .item-image img {
  display: block;
  border-radius: 10px 10px 0 0;
  width: 100%;
}
#listing .desc {
  padding: 1rem;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-top: none;
  border-radius: 10px 10px;
  background: #fff;
  position: relative;
  margin-top: -105px;
  min-height: 212px;
}
#listing .desc .title {
  min-height: 50px;
}
#listing .desc .title h3 {
  font-size: 1.1rem;
}
#listing .desc .location a {
  color: #63AB45;
}
#listing .desc .date {
  direction: ltr;
  text-align: right;
}
#listing .desc .price {
  text-align: right;
}
#listing .desc .link {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: end;
}

/** Search region **/
.search-region {
  margin-left: 1rem;
}

.scrollspy-example {
  position: relative;
  overflow: auto;
}

.node-listing-single .listing-top .listing-top-content {
  padding: 60px 0;
  position: relative;
  background: #f3f8f6;
  margin-top: 0 !important;
}
.node-listing-single .listing-top .listing-top-content .top-left,
.node-listing-single .listing-top .listing-top-content .top-right {
  width: 100%;
}

.node-listing-single .listing-content-main .listing-info-block.listing-amenties .block-content {
  margin: 0 !important;
}

.webform-submission-form .form-item label,
.views-exposed-form .form-item label {
  font-family: inherit;
}

.badge-primary {
  background: #63AB45;
}

.badge-danger {
  background: #D03632;
}

.node-listing-single .listing-content-main .block {
  border-radius: 14px;
  border: unset;
  padding: 20px;
}

#views-exposed-form-tours-block-1 {
  background: #fff;
  margin-bottom: 2rem !important;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#views-exposed-form-tours-block-1::after {
  display: block;
  clear: both;
  content: "";
}
#views-exposed-form-tours-block-1 .views-exposed-form-content-inner {
  direction: rtl;
}
@media (max-width: 680px) {
  #views-exposed-form-tours-block-1 {
    border-radius: 0;
  }
}
#views-exposed-form-tours-block-1 .form-item {
  width: 26%;
  float: right;
  margin-bottom: 0;
  position: relative;
  background: #fff;
  padding: 8px 10px;
}
@media (max-width: 680px) {
  #views-exposed-form-tours-block-1 .form-item {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0 !important;
  }
}
#views-exposed-form-tours-block-1 .form-item legend {
  font-size: inherit;
}
#views-exposed-form-tours-block-1 .form-item legend .fieldset-legend {
  font-family: inherit;
}
#views-exposed-form-tours-block-1 .form-item .fieldset-wrapper {
  display: block;
  width: 100%;
  height: auto;
}
#views-exposed-form-tours-block-1 .form-item.form-item-field-tour-startdate-value-date {
  padding: 0;
  width: 100% !important;
  display: block;
}
#views-exposed-form-tours-block-1 .form-item.form-item-field-tour-startdate-value-date .form-date {
  border: unset;
  color: #888;
}
#views-exposed-form-tours-block-1 .form-item:first-child, #views-exposed-form-tours-block-1 .form-item.form-item-title {
  border-radius: 4px 0 0 4px;
}
#views-exposed-form-tours-block-1 .form-item:nth-child(4) {
  border-radius: 0 4px 4px 0;
}
#views-exposed-form-tours-block-1 .form-item input[type=text], #views-exposed-form-tours-block-1 .form-item input[type=search], #views-exposed-form-tours-block-1 .form-item input[type=password], #views-exposed-form-tours-block-1 .form-item input[type=email], #views-exposed-form-tours-block-1 .form-item input[type=date], #views-exposed-form-tours-block-1 .form-item textarea, #views-exposed-form-tours-block-1 .form-item select {
  border: none;
}
#views-exposed-form-tours-block-1 .chosen-container-single {
  border: none !important;
}
#views-exposed-form-tours-block-1 .form-actions {
  width: 18%;
  float: right;
  margin-right: 2%;
  border: none;
  margin-top: 1rem;
}
@media (max-width: 680px) {
  #views-exposed-form-tours-block-1 .form-actions {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}
#views-exposed-form-tours-block-1 .form-actions input {
  width: 100%;
  line-height: 62px;
}

#views-exposed-form-event-page-1 {
  background: #fff;
  margin-bottom: 2rem !important;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: -6.5rem;
}
#views-exposed-form-event-page-1::after {
  display: block;
  clear: both;
  content: "";
}
#views-exposed-form-event-page-1 .views-exposed-form-content-inner {
  direction: rtl;
}
@media (max-width: 680px) {
  #views-exposed-form-event-page-1 {
    border-radius: 0;
  }
}
#views-exposed-form-event-page-1 .form-item {
  width: 26%;
  float: right;
  margin-bottom: 0;
  position: relative;
  background: #fff;
  padding: 8px 10px;
}
@media (max-width: 680px) {
  #views-exposed-form-event-page-1 .form-item {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0 !important;
  }
}
#views-exposed-form-event-page-1 .form-item legend {
  font-size: inherit;
}
#views-exposed-form-event-page-1 .form-item legend .fieldset-legend {
  font-family: inherit;
}
#views-exposed-form-event-page-1 .form-item .fieldset-wrapper {
  display: block;
  width: 100%;
  height: auto;
}
#views-exposed-form-event-page-1 .form-item.form-item-field-tour-startdate-value-date {
  padding: 0;
  width: 100% !important;
  display: block;
}
#views-exposed-form-event-page-1 .form-item.form-item-field-tour-startdate-value-date .form-date {
  border: unset;
  color: #888;
}
#views-exposed-form-event-page-1 .form-item:first-child, #views-exposed-form-event-page-1 .form-item.form-item-title {
  border-radius: 4px 0 0 4px;
}
#views-exposed-form-event-page-1 .form-item:nth-child(4) {
  border-radius: 0 4px 4px 0;
}
#views-exposed-form-event-page-1 .form-item input[type=text], #views-exposed-form-event-page-1 .form-item input[type=search], #views-exposed-form-event-page-1 .form-item input[type=password], #views-exposed-form-event-page-1 .form-item input[type=email], #views-exposed-form-event-page-1 .form-item input[type=date], #views-exposed-form-event-page-1 .form-item textarea, #views-exposed-form-event-page-1 .form-item select {
  border: none;
}
#views-exposed-form-event-page-1 .chosen-container-single {
  border: none !important;
}
#views-exposed-form-event-page-1 .form-actions {
  width: 18%;
  float: right;
  margin-right: 2%;
  border: none;
  margin-top: 1rem;
}
@media (max-width: 680px) {
  #views-exposed-form-event-page-1 .form-actions {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}
#views-exposed-form-event-page-1 .form-actions input {
  width: 100%;
  line-height: 62px;
}

.el-69679628 .bb-inner {
  padding-top: 0 !important;
  margin-top: -7rem;
  position: relative;
  z-index: 12;
}

.breadcrumb-content-main .content {
  display: none;
}

.tour-essentials .block-content::after,
.tour-necesseries .block-content::after {
  display: block;
  clear: both;
  content: "";
}
.tour-essentials .amenity-item,
.tour-necesseries .amenity-item {
  font-size: 1.1rem;
  width: 33.3333%;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
  position: relative;
}
.tour-essentials .amenity-item:nth-child(3n+1),
.tour-necesseries .amenity-item:nth-child(3n+1) {
  clear: both;
}
.tour-essentials .amenity-item .icon,
.tour-necesseries .amenity-item .icon {
  font-size: 1.5rem;
  vertical-align: middle;
  display: inline-block;
  color: #63AB45;
}
.tour-essentials .amenity-item a,
.tour-necesseries .amenity-item a {
  color: #82828A;
}

.node-listing-single .listing-top .listing-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .node-listing-single .listing-top .listing-action {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    padding-top: 15px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.node-listing-single .listing-top .item-action {
  position: relative;
  padding-right: 50px;
  font-weight: 700;
  line-height: 20px;
  color: var(--body-link-color);
  margin-top: 10px;
  margin-right: 35px;
  direction: ltr;
  text-align: right;
}

@media (max-width: 991px) {
  .node-listing-single .listing-top .item-action {
    margin-left: 0;
    margin-right: 30px;
  }
}
.node-listing-single .listing-top .item-action span.fas {
  color: var(--gowilds-theme-color);
  font-size: 36px;
  position: absolute;
  top: 5px;
  right: 0;
}

.node-listing-single .listing-top .item-action .label {
  font-size: 15px;
  font-weight: 500;
  color: var(--body-color) !important;
  display: block;
  margin-bottom: 5px;
}

.node-listing-single .listing-top .item-action.phone span.fas {
  font-size: 32px;
  top: 5px;
}

.node-listing-single .listing-top .item-action.category span.fas {
  font-size: 32px;
  top: 5px;
}

.node-listing-single .listing-top .listing-category a {
  font-size: 16px;
  font-weight: 700;
}

.node-listing-single .listing-top .listing-category a:hover {
  color: var(--gowilds-theme-color);
}

.node-listing-single .listing-content-main .block .block-title:after,
.node-listing-single .listing-content-main .lt-block-second .title:after,
.sidebar .block .block-title:after,
#node-single-comment h2:before {
  left: unset !important;
  right: 0;
}

.sidebar .block .block-title {
  letter-spacing: unset !important;
}

.node-listing-single .listing-content-main .lt-block-second.business-info .item-info {
  position: relative;
  padding-right: 50px;
  color: var(--body-link-color);
  font-weight: 700;
  margin-top: 20px;
}
.node-listing-single .listing-content-main .lt-block-second.business-info .item-info span {
  font-size: 15px;
  font-weight: 500;
  color: var(--body-color);
  width: 100%;
  display: block;
}
.node-listing-single .listing-content-main .lt-block-second.business-info .item-info i.fas {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 32px;
  color: #63AB45;
}

.block-views-blockrelated-tours-block-1 .block-title {
  margin-top: 30px;
  margin-bottom: 1em;
  font-size: 22px;
  position: relative;
  padding-bottom: 8px;
}
.block-views-blockrelated-tours-block-1 .block-title::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  background: var(--ziston-theme-color);
  border-radius: 5px;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.block-views-blockrelated-tours-block-1 .owl-item {
  margin-bottom: 1rem;
}
.block-views-blockrelated-tours-block-1 .owl-item .desc {
  direction: rtl;
}
.block-views-blockrelated-tours-block-1 .owl-item .desc .date {
  direction: rtl !important;
}

.webform-submission-booking-form .form-item-submitted-tour {
  display: none;
}
.webform-submission-booking-form .form-number {
  text-align: center;
}

.gsc-heading .sub-title {
  letter-spacing: 0 !important;
}

.owl-item .item-image img {
  text-align: center;
}

.gsc-icon-box-carousel.style-1 .icon-box-item-content .icon-box-item-inner .title {
  font-size: 14px;
}

.event-block.event-expired img {
  filter: grayscale(1);
}
.event-block.event-expired .date {
  background: #3f403e !important;
}
.event-block .event-content {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.036);
}
.event-block .event-content .event-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.event-block .event-content .event-info {
  bottom: 0;
  left: 30px;
  right: 0;
  z-index: 11;
  padding: 35px 20px 0;
  position: relative;
}
.event-block .event-content .event-info .date {
  position: absolute;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  background: #63AB45;
  top: -20px;
  right: 30px;
  z-index: 1;
  padding: 10px 15px;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: 1px;
  -webkit-transform: rotate(-6.2deg);
  transform: rotate(-6.2deg);
}
.event-block .event-content .event-info .event-meta {
  font-size: 14px;
  font-weight: 500;
}
.event-block .event-content .event-info .title {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.event-block .event-content .event-info .event-address {
  border-top: 1px solid #E2DFEB;
  padding: 15px 0 0;
  margin-top: 20px;
  font-size: 14px;
}
.event-block .event-content .event-info .event-address i {
  color: #63AB45;
  margin-left: 5px;
}

.widget.gsc-block-drupal.text-light div {
  color: inherit !important;
}

.listing-category a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  font-family: inherit !important;
}

#ui-datepicker-div {
  z-index: 11 !important;
}

.post-block .post-content {
  box-shadow: unset !important;
}

.event-full .event-info .date i, .event-full .event-info .address i {
  margin-top: 3px !important;
}

.sidebar .block {
  background: #f3f8f6;
  padding: 30px;
  border-radius: 10px;
}

.category-list .item-list ul li {
  overflow: visible;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  float: right;
  width: 100%;
  list-style-type: none;
}
.category-list .item-list ul li:first-child a {
  padding-top: 5px;
}
.category-list .item-list ul li:last-child a {
  border-bottom: unset !important;
}
.category-list .item-list ul li a {
  font-family: inherit !important;
  padding: 15px 0;
  display: block;
  font-size: 16px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  position: relative;
  color: #82828A;
  font-weight: 500;
  border-bottom: 1px solid #E2DFEB;
}
.category-list .item-list ul li a::after {
  content: "\f30b";
  font-family: "Line Awesome Free";
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  z-index: 1;
  color: #63ab45;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  font-size: 22px;
  font-weight: 900;
  transform: rotate(180deg);
}

.post-list-small-2 .post-block {
  margin: 0;
  clear: both;
  background: none;
}
.post-list-small-2 .post-block .post-image {
  width: 80px;
  float: right;
}
.post-list-small-2 .post-block .post-image img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 80px;
  border-radius: 8px;
}
.post-list-small-2 .post-block .post-meta {
  font-family: inherit !important;
}
.post-list-small-2 .post-block .post-content {
  padding-right: 110px !important;
  padding-left: unset !important;
}

/*# sourceMappingURL=main.css.map */
