@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Vazirmatn', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family: 'Vazirmatn', sans-serif !important;

}
.persian-text{
    font-family: 'Vazirmatn', sans-serif ;

}
.gva-user-region .user-content{
    left:0;
    right:auto;
}