@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Vazirmatn', sans-serif !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family: 'Vazirmatn', sans-serif !important;

}
.persian-text{
    font-family: 'Vazirmatn', sans-serif !important;

}
.navigation .gva_menu > li > a {
    font-family: 'Vazirmatn', sans-serif !important;

}
.gsc-heading .sub-title{
    font-family: 'Vazirmatn', sans-serif !important;

}
.button:not(.register-button), .btn, .btn-white, .btn-theme, .btn-theme-second, .btn-black, .more-link a, .btn-theme-submit{
  font-family: 'Vazirmatn', sans-serif !important;
  letter-spacing: normal;

}


.topbar-info__list {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .topbar-info__item {
    padding-left: 30px;
  }
  
  .topbar-info__item:first-child {
    padding-left: 0;
  }
  
  .topbar-info__item i {
    font-size: 15px;
    min-width: 0;
  }
  
  .topbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .topbar-links > li {
    padding: 10px 0;
    margin-left: 30px;
  }
  
  .topbar-social {
    margin-left: 30px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
  }
  .gavias_sliderlayer{
    direction:ltr;
}
.block-dropdown-language .dropbutton-wrapper ul.dropbutton:after{
    float:right;
}
.breadcrumb-content-inner .gva-block-breadcrumb .breadcrumb-links nav.breadcrumb ol li{
float: right;

}
.feature-carousel,.porfolio-carousel,.blog-carousel,.testimonial-main ,.landing-ltr{
    direction:ltr
}
.feature-one__single{
    direction:rtl
}

ul.features-list > li:before{
    margin-right: 0;
    margin-left: 20px;
}
.search-one__content{
    right:auto;
    left:0 !important;

}
.title-line{
    line-height: 2rem;
}
[dir="rtl"] .dropbutton-toggle {
    left: auto !important;
    right: 0 !important;
}
.block-dropdown-language .dropbutton-wrapper ul.dropbutton {
    position: absolute;
    top: -5px;
    right: 0;
    display: inline-block;
    float: right;
    z-index: 9;
    padding: 9px 35px 14px 35px;
}
.block-dropdown-language .dropbutton-wrapper ul.dropbutton:after{
    left:5px !important;
    right: auto;
}
span.language-link.active-language{
    font-family: 'Vazirmatn', sans-serif;

}

.iconbox-seven__content-inner {
    text-align: right;
    padding-right: 20px;
    direction: ltr;
}



.gsc-listing-banner-carousel.style-3{
    direction: ltr;
}

.lt-map-action {
    direction: ltr;
}
.listing-nav-inner-inner ul{
    float:right;
}
.node-listing-single .listing-nav .listing-nav-inner ul > li{
    float:right;
}
.app-image img{
    border-radius: 25%;
}
.node-listing-single .listing-nav .listing-nav-inner ul > li a{
    font-family: 'Vazirmatn', sans-serif;


}
.owl-stage-outer{
direction: ltr !important;
text-align: right;
}

.filter-map-popular{
    bottom: 40% !important;

}

#views-exposed-form-listing-content-listing-filter-form {
    max-width: 1030px;
    margin: 0 auto;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  #views-exposed-form-listing-content-listing-filter-form::after {
    display: block;
    clear: both;
    content: "";
  }
  
  @media (max-width: 680px) {
    #views-exposed-form-listing-content-listing-filter-form {
      border-radius: 0;
    }
  }
  
  #views-exposed-form-listing-content-listing-filter-form .form-item {
    width: 26%;
    float: left;
    margin-bottom: 0;
    position: relative;
    background: #fff;
    padding: 8px 10px;
  }
  
  @media (max-width: 680px) {
    #views-exposed-form-listing-content-listing-filter-form .form-item {
      width: 100%;
      border-bottom: 1px solid #dee2e6;
      border-radius: 0 !important;
    }
  }
  
  #views-exposed-form-listing-content-listing-filter-form .form-item:first-child, #views-exposed-form-listing-content-listing-filter-form .form-item.form-item-title {
    border-radius: 4px 0 0 4px;
  }
  
  #views-exposed-form-listing-content-listing-filter-form .form-item:nth-child(4) {
    border-radius: 0 4px 4px 0;
  }
  
  #views-exposed-form-listing-content-listing-filter-form .form-item:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  @media (max-width: 680px) {
    #views-exposed-form-listing-content-listing-filter-form .form-item:after {
      display: none;
    }
  }
  
  #views-exposed-form-listing-content-listing-filter-form .form-item input[type='text'], #views-exposed-form-listing-content-listing-filter-form .form-item input[type='search'], #views-exposed-form-listing-content-listing-filter-form .form-item input[type='password'], #views-exposed-form-listing-content-listing-filter-form .form-item input[type='email'], #views-exposed-form-listing-content-listing-filter-form .form-item textarea, #views-exposed-form-listing-content-listing-filter-form .form-item select {
    border: none;
  }
  
  #views-exposed-form-listing-content-listing-filter-form .chosen-container-single {
    border: none !important;
  }
  
  #views-exposed-form-listing-content-listing-filter-form .form-actions {
    width: 20%;
    float: left;
    margin-left: 2%;
    border: none;
  }
  
  @media (max-width: 680px) {
    #views-exposed-form-listing-content-listing-filter-form .form-actions {
      width: 100%;
      margin-top: 15px;
      margin-left: 0;
    }
  }
  
  #views-exposed-form-listing-content-listing-filter-form .form-actions input {
    width: 100%;
    line-height: 62px;
  }
#views-exposed-form-listing-content-listing-filter-form .form-item{
    float:right !important ;
}
.views-exposed-form .form-item select{
    background-position: left 15px center !important;
}

.header-default .main-menu-inner{
    float: right;
}
.navigation .gva_menu .sub-menu{
    right: 0 !important;
}
.gva-user-region .user-content{
    left: 0 !important;
    right:auto
}
.navigation .gva_menu li a{
    text-align: right  !important;
}
.gva-search-region .search-content{
  left:0;
  right:auto;
}

.\.flight-card.gbb-row img {
  border-radius: 10px;
}
.\.flight-card.gbb-row {
  background: #eee;
  border-radius: 20px;
  margin: 26px 0;
  padding: 20px 0;
}

.app-button{

  width: 280px;
  height: 80px;
  border-radius: 13px;
  padding-left: 28px;
  padding-top: 10px;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)

 }

 .app-button i{
  font-size: 60px;
  margin-right: 10px;
 }
 .breadcrumb-content-inner .gva-block-breadcrumb .page-title{
  text-align:right;
 }