.gsc-icon-box-carousel{
  	&.style-1{
  		background: $white;
		border-radius: 4px;
		padding: 0 82px;
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
		@media(max-width: 767px){
			padding: 0;
		}
  		.icon-box-item{
  			padding: 0;
  		}
	  	.icon-box-item-content{
			position: relative;
			padding: 0;
			.icon-box-item-inner{
				position: relative;
				@include clearfix();
				background: $white;
				padding: 40px 15px;
				margin: 0 auto;
				text-align: center;
				border-left: 1px solid $border-color;
				border-bottom: 2px solid transparent;
				transition: all 0.35s;
				.box-icon{
					display: inline-block;
					font-size: 60px;
					line-height: 1.1;
					i{
					  color: $theme-color;
					}
				}
				.title{
				  color: $black;
				  font-size: 16px;
				  font-weight: 600;
				  display: block;
				  line-height: 1.4;
				  margin-bottom: 0;
				  font-family: $font-family-base;
				}
				.link{
					position: absolute;
					top: 0;
					left: 0;
					@include size(100%, 100%);
					z-index: 1;
				}
			}
			&:hover, &.active{
				.icon-box-item-inner{
					.box-icon{
						svg, i{
							animation: beat 1.5s ease 0s infinite;
						}
					}
				}
			}
			.link-overlay{
				position: absolute;
				@include size(100%, 100%);
				top: 0;
				left: 0;
				z-index: 11;
			}
		}
		
		.owl-carousel{
			margin-right: -1px;
			.owl-nav{
				opacity: 1;
				visibility: visible;
			}
			.owl-item.first{
				.icon-box-item-content{
					.icon-box-item-inner{
						border-left-color: transparent;
					}
				}
			}
		 	.owl-item.center{
				.icon-box-item-content{
					.icon-box-item-inner{
						background: $bg-gray;
						border-bottom-color: $theme-color;
					}
				}
		  	}
		}
	}
}