{% for item in items %}
   <div {{ attributes.addClass('amenity-item') }}>
      {% if item.content['#options'].entity.field_essential_icon.value %}
         <i class="icon {{ item.content['#options'].entity.field_essential_icon.value }}"></i>
      {% endif %}
      {{ item.content['#options'].entity.name.value }}
   </div>
{% endfor %}
